# Core Libraries
pandas==2.2.2
numpy==1.26.4

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
plotly==5.24.0
kaleido==0.2.1

# Machine Learning
scikit-learn==1.5.2
xgboost==2.1.1
lightgbm==4.5.0

# Handling Imbalanced Data
imbalanced-learn==0.12.3

# Web App Framework
streamlit==1.39.0

# Utilities
joblib==1.4.2
pickle-mixin==1.0.2
tqdm==4.66.5

# File Export / Integration
openpyxl==3.1.5
xlsxwriter==3.2.0
